
<a href="/stories/add" style="text-decoration: none; color:white"><i class="material-icons"></i><button type="button" class="btn btn-primary bmd-btn-fab" style="position: fixed; bottom:20px; right:10px; z-index:1; size:10px"><i class="fas fa-plus fa-sm"></i></i>
</button>
</a>
